body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs0FzjGXlArcHkAq7W3kmdBXcyLx70HNqMiQ&usqp=CAU");
    background-size: cover;
    background-position: center center;
}